.karty {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

body {
    margin: 0;
}

.karty > *{
    max-width: 250px;
    margin: 0;
}

.nalepky {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    top: 0;
}

.image{ 
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.karta {
    padding: 20px;
}

.karta__header {
    height: 270px;
    position: relative;
}

.nazev {
    height: 3em;
    line-height: 1.5;
    overflow: hidden;
    color: #060606;
}

.info {
    border-top: 1px solid #dfdfdf;
    color: rgba(6, 6, 6, 0.75);
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    padding-top: 10px;
}

.sklad {
    border-top: 1px solid #dfdfdf;
    text-align: center;
    padding-top: 10px;
    height: 3em;
    line-height: 1.5;
}

.cena {
    border-top: 1px solid #dfdfdf;
    font-size: 23px;
    color: #b93c07;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}

html {
    font: normal 14px/1.4666666667 "Gill Sans","Segoe UI",Optima,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #060606;
}

.color-green {
    color: #5fb135;
}

s {
    color: #8c8c8c;
    opacity: .9;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
}

.btn {
    background-color: #448224;
    color: white;
    padding: 5px 15px 9px;
    border-radius: .5em;
    border: hidden;
    display: block;
}

.gift {
    color: #3da4b0;
}

.nalepka {
    display: block;
    color: white;
    font-size: 13px;
    padding: 2px 8px 2px;
    border-radius: 4px;
    margin: 1px;
}

.nalepka-y {
    background-color: #ddb425;
}

.nalepka-b {
    background-color: #3da4b0;
}


.sleva {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    padding: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    color: white;
    right: 0;
}

.sleva__text {
    margin-top: 25%;
}


